<div class="calc-page">
  <div class="calc-page__header">
    <h1>Income Calculator 1120S</h1>
  </div>
  <div class="calc-page__body" style="padding: 0;">
    <iframe src="/legacy/income/IncomeCalculator1120S.html" style="width: 100%; min-height: 80vh; border: none; display: block;"></iframe>
  </div>
</div>
