<div class="calc-page">
  <div class="calc-page__header">
    <h1>Amortization Calculator</h1>
  </div>
  <div class="calc-page__body" style="padding: 0;">
    <iframe src="/legacy/amort-calc/index.html" style="width: 100%; min-height: 85vh; border: none; display: block;"></iframe>
  </div>
</div>
