<div class="calc-page">
  <div class="calc-page__header">
    <h1>Blended Rate Calculator</h1>
  </div>
  <div class="calc-page__body u-p-0">
    <iframe src="/legacy/gen-calc/blended_rate_calculator.html" class="legacy-iframe" id="legacyFrame"></iframe>
  </div>
  <%- include('../partials/calc-actions') %>
</div>
